.manage-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.manage-section th,
.manage-section td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.manage-section th {
  background: #004aad;
  color: white;
}

.edit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #0056b3;
}
